@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  background-color: white;
}

App {
  font-family: arial;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.loading_container {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 50%;
  height: 45px;
}

.loading_container .loading {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 20px;
  border: 1px solid purple;
  -webkit-animation: loading 2s linear;
          animation: loading 2s linear;
}

.none {
  display: none;
  position: relative;
}

@-webkit-keyframes loading {
  0% {
    border: 1px solid purple;
  }
  20% {
    -webkit-transform: scale(120%);
            transform: scale(120%);
    border: 2px solid violet;
  }
  40% {
    -webkit-transform: scale(50%);
            transform: scale(50%);
    border: 1px solid purple;
  }
  80% {
    -webkit-transform: scale(120%);
            transform: scale(120%);
    border: 2px solid violet;
  }
  100% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
    border: 1px solid purple;
  }
}

@keyframes loading {
  0% {
    border: 1px solid purple;
  }
  20% {
    -webkit-transform: scale(120%);
            transform: scale(120%);
    border: 2px solid violet;
  }
  40% {
    -webkit-transform: scale(50%);
            transform: scale(50%);
    border: 1px solid purple;
  }
  80% {
    -webkit-transform: scale(120%);
            transform: scale(120%);
    border: 2px solid violet;
  }
  100% {
    -webkit-transform: scale(0%);
            transform: scale(0%);
    border: 1px solid purple;
  }
}

.character_container {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px saddlebrown solid;
  padding: 20px;
  margin: 20px 0px;
  min-height: 120px;
  max-height: 90px;
  width: 70%;
}

.character_container button {
  position: absolute;
  left: 20px;
  top: 60px;
  width: 100px;
  height: 50px;
  padding: 5px;
  border-radius: 15px;
}

.subscribe_container {
  position: relative;
  margin: auto;
  font-size: 1em;
  margin: 30px;
  text-align: center;
}

.subscribe_container .MuiOutlinedInput-input {
  width: 400px;
}

.subscribe_container .button {
  width: 100px;
  height: calc(1em + 20px);
  background-color: #095f5f;
  color: #ffeedf;
  border-radius: 20px;
}

.subscribe_container .button:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  background-color: #042929;
}

.subscribe_container .button:active {
  -webkit-transform: scale(95%);
          transform: scale(95%);
}

.subscribe_container .disabled {
  background-color: #657474;
}

.subscribe_container .disabled:hover {
  background-color: #657474;
  -webkit-transform: scale(100%);
          transform: scale(100%);
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #ffeedf;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 20;
  padding: 0px 15px;
  top: 0;
  width: 100%;
  height: 60px;
  font-size: 36px;
  color: #145434;
  background-color: #ffeedf;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.header .MuiSvgIcon-root {
  width: 36px;
  height: 36px;
}

.cards_container {
  position: relative;
  top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 100%;
}

@media (min-width: 950px) {
  .cards_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.number {
  position: relative;
  top: -22px;
  right: 22px;
  width: 40px;
  height: 40px;
  border-radius: 90%;
  border: 2px solid #145434;
  background-color: #ffeedf;
  color: #145434;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_container {
  position: relative;
  width: 90%;
  background-color: #145434;
  color: #ffeedf;
  margin: 30px auto;
}

@media (min-width: 460px) {
  .card_container {
    width: 400px;
  }
}

@media (min-width: 950px) {
  .card_container {
    width: 400px;
    margin: 30px;
  }
}

.card {
  padding: 10px 30px 50px;
}

.card .title {
  width: 100%;
  font-size: 36px;
}

.card .title::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #ffeedf;
  margin: 30px auto 5px;
}

.card .sub,
.card .text {
  font-size: 18px;
}

.card .text {
  font-weight: 600;
}

button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: -20px;
  bottom: -20px;
  width: 200px;
  height: 50px;
  background-color: #ffeedf;
  color: #145434;
  border: 3px solid #145434;
}

button:hover {
  background-color: #145434;
  color: #ffeedf;
  border: 3px solid #ffeedf;
}

button .div {
  display: inline-block;
  font-size: 14px;
}

button .icon {
  position: absolute;
  right: 5px;
}

button .icon .MuiSvgIcon-root {
  width: 36px;
  height: 36px;
}
/*# sourceMappingURL=style.css.map */